
/* página inteira */
body{
    background-image: url("https://free4kwallpapers.com/uploads/originals/2015/08/24/wallpaper-from-the-latest-el-capitan-developer-build.jpg");
    background-size: auto;
    backdrop-filter: blur(8px);
    background-position: center;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

/* Barra de navegação
.menu{
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2), 0px 6px 15px 0px rgba(0,0,0,0.19);
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #16a81e;
}
/* fim da barra de navegação */

/* div do background */
.bg {
    background-color: rgba(24, 24, 68, 0.548);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2), 0px 6px 15px 0px rgba(0,0,0,0.19);
}

#paginas{
    display: inline-block
}

/* div dos botões do rodape */
#rodape{
    width: 100%;
}

/* Botões gerais */
.buttom{
    background-color: #16a81e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

/* div dos videos
#videos{
    text-align: center;
    
}

/* titulo principal do site */
h1{
    text-align: center;
    padding-top: 20px;
    font-size: 1cm;
    color: #4025df;
}

h2{
    padding-bottom: 8px;
}

form {
    font-size: 20px;
}


input[type=text], [type=number], [type=tel] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: rgb(198, 199, 201);
    box-sizing: border-box;
}

.options{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 30px;
    margin-bottom: 5px;
}

.options input{
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.options input:checked ~ .checkmark {
    background-color: #FF7200;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.options input:checked ~ .checkmark:after {
    display: block;
}


input[type=submit], [type=reset]{
    background-color: #FF7200;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.last-page {
    background-color: #FF7200;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}
