
/* página inteira */
body{
    background-image: url("https://mocah.org/thumbs/963368-digital-digital-art-artwork-simple-simple-background.jpg");
    background-size: cover;
    backdrop-filter: blur(8px);
    background-position: center;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

/* div do background */
.bg {
    background-color: rgba(24, 24, 68, 0.548);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    color: white;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2), 0px 6px 15px 0px rgba(0,0,0,0.19);
}

/* animação de abertura */
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#paginas{
    display: inline-block
}

/* titulo principal do site */
h1{
    text-align: center;
    padding-top: 20px;
    font-size: 1cm;
    color: #4025df;
}

h2{
    padding-bottom: 8px;
}

/* Formatações do formulário */
form {
    font-size: 20px;
}


input[type=text], [type=number], [type=tel] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: rgb(198, 199, 201);
    box-sizing: border-box;
}

/* Opções de seleção de sexo (até a linha 102) */
.options{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 30px;
    margin-bottom: 5px;
}

.options input{
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.options input:checked ~ .checkmark {
    background-color: #FF7200;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.options input:checked ~ .checkmark:after {
    display: block;
}

/* caixas de input */
input[type=submit], [type=reset]{
    background-color: #FF7200;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

/* botão para retornar */
.last-page {
    background-color: #FF7200;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}
